= form_with url: '/search', method: :get do |form|
  = form.label :query, 'Enter an address'
  = form.text_field :query, required: true, placeholder: 'e.g. 123 Apple Cherry Street, Chicago IL, 60131', style: 'width: 100%;', value: params[:query]
  = form.submit "Get Forecast"

- if @weather.present?
  %div
    %p
      = @weather.to_yaml
  